body {
    margin: 0;
    color: #e5e5e5;
    font-family: 'Arial, Helvetica, sans-serif', sans-serif;
    background-color: #333;
}

.bold {
    font-weight: 600;
}

h1, p {
    color: #fff;
    text-align: center;
}

.calendar-container {
    width: 800px;
    text-align: center;
    margin: 0 auto 5rem auto;
}

.calendar-container td {
    color: #fff;
    width: 33.333%;
    text-align: center;
}

[ng-availability-calendar] {
    display: inline-block;
}
